<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Layout building - Drupal Good Practices</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.5.0.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Drupal Good Practices</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../install/">Install</a>
</li>

                        
                            
<li class="active">
    <a href="./">Layout building</a>
</li>

                        
                            
<li >
    <a href="../users/">Users</a>
</li>

                        
                            
<li >
    <a href="../content/">Content authoring</a>
</li>

                        
                            
<li >
    <a href="../multilanguage/">Multilanguage</a>
</li>

                        
                            
<li >
    <a href="../cache/">Cache system</a>
</li>

                        
                            
<li >
    <a href="../search/">Search</a>
</li>

                        
                            
<li >
    <a href="../security/">Security</a>
</li>

                        
                            
<li >
    <a href="../forms/">Forms</a>
</li>

                        
                            
<li >
    <a href="../theming/">Theming</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../advanced/testing/">Testing</a>
</li>

                        
                            
<li >
    <a href="../../advanced/deploy/">Deploy</a>
</li>

                        
                            
<li >
    <a href="../../advanced/drush/">Drush</a>
</li>

                        
                            
<li >
    <a href="../../advanced/git/">Git</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../modules/administration/">Administration</a>
</li>

                        
                            
<li >
    <a href="../../modules/content/">Content authoring</a>
</li>

                        
                            
<li >
    <a href="../../modules/development/">Development</a>
</li>

                        
                            
<li >
    <a href="../../modules/building/">Site building</a>
</li>

                        
                            
<li >
    <a href="../../modules/utilites/">Utilites</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../install/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../users/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/ADCI/drupal-good-practices.git">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#layout-building">Layout building</a></li>
        
            <li><a href="#table-of-contents">Table of Contents</a></li>
        
            <li><a href="#core-blocks">Core blocks</a></li>
        
            <li><a href="#display-suite">Display Suite</a></li>
        
            <li><a href="#panels">Panels</a></li>
        
            <li><a href="#context">Context</a></li>
        
            <li><a href="#summary">Summary</a></li>
        
            <li><a href="#links">Links</a></li>
        
    
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="layout-building">Layout building</h1>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
<li><a href="#core-blocks">Core blocks</a></li>
<li><a href="#display-suite">Display Suite</a></li>
<li><a href="#panels">Panels</a></li>
<li><a href="#context">Context</a></li>
<li><a href="#summary">Summary</a></li>
<li><a href="#links">Links</a></li>
</ul>
<h2 id="core-blocks">Core blocks</h2>
<p>There are many blocks defined by Drupal core modules and contributed modules, you can also create blocks with content via UI using core's Block module.
Drupal core provides simple enough blocks visibility system: blocks are assigned to (theme) regions, block visibility can be based on paths patterns or content-types.
When using Drupal core blocks system, site's pages are built from blocks using visibility rules.
This way is simple but also less flexible - it's limited to regions (you can't configure smaller parts), one block can be assigned to only one region and in one particular order.
Because of such limitations Drupal core blocks visibility system will not fit your needs often.</p>
<h2 id="display-suite">Display Suite</h2>
<p><a href="https://www.drupal.org/project/ds">Display Suite</a> module provides possibility to create new displays for entities via UI and many options to deal with them.
This module operates an entity content, allows to use different layouts for different displays, add special fields to displays (add block as field, clone existing field, define new field by code, etc.) - these features and core's visibility settings for fields make this module very powerful.
Module contains a lot of predefined layouts which can be overriden via Drupal templating/theming system, new layouts may be defined as well.
As it was mentioned above, the <strong>Display Suite</strong> module is limited to entity content.</p>
<p>If you only need to add more display modes to entities and other features are not needed (so Drupal core's fields formatting and visibility settings are enough) - check the <a href="https://www.drupal.org/project/entity_view_mode">Entity view modes</a> module then.</p>
<p>Read the <a href="https://www.drupal.org/node/644662">module's documentation</a> for more details.</p>
<h2 id="panels">Panels</h2>
<p><a href="https://www.drupal.org/project/panels">Panels</a> module gives you absolute freedom in content region layouts configuration.
Powered by the <a href="https://www.drupal.org/project/ctools">Chaos tool suite (ctools)</a> - one of the most popular Drupal contributed module - it provides tons of features and options.
You can create any layout for content of any page, output needed blocks in regions (sub-regions of the content region) which you also can define.</p>
<p>In combination with <strong>Page manager</strong> module (part of the <strong>ctools</strong>) you can create any pages with any content layout you need.</p>
<p>Read the <a href="https://www.drupal.org/node/496278">module's documentation</a> for (much more) details.</p>
<h2 id="context">Context</h2>
<p>The <a href="https://www.drupal.org/project/context">Context</a> module name is self-explaining - it allows to perform different actions on pages depending on pages' contexts (or number of met conditions).
Probably most used reaction on contexts is blocks visibility settings - because of many kinds of contexts which can be checked and a lot of contrinuted modules which extend its functionality it provides much more flexibility in blocks visibility configuration than Drupal core's visibility system.
But blocks visibility is limited to regions like Drupal core's system.</p>
<p>There are actually many other reactions of different kinds available. Check the <a href="https://www.drupal.org/project/context">project's page</a> for more info.</p>
<h2 id="summary">Summary</h2>
<p>There is no single solution which fits all possible needs. Each of mentioned solution has its pros and cons.</p>
<p>Layouts building may be divided into 3 levels:</p>
<ol>
<li>Entities (usually nodes) content management (rendering of entities using display modes).</li>
<li>Content region layout management (which is "main" region and is always here).</li>
<li>Page's layout management (header, footer, etc.).</li>
</ol>
<p>Depending on site's complexity (number of kinds of content and its layout complexity) different solutions may be applied:</p>
<ol>
<li>On small/simple sites Drupal core's blocks visibility system and entities/fields display system should be enough.</li>
<li>If content region part becomes complex - try building layouts and assigning blocks via <strong>Panels</strong>, and <strong>display modes</strong> for nodes and other entities.</li>
<li>If other pages' regions like header and footer becomes dynamic - try adding <strong>context</strong> to previous point.</li>
</ol>
<p>Just to summarize:</p>
<ul>
<li>First of all try to leverage entities display modes for better layouts and styling (re)use.</li>
<li>Different situations need different solution, but in cases of really complex sites it's possible to use them all in combination - don't much afraid to try this.</li>
</ul>
<h2 id="links">Links</h2>
<ul>
<li><a href="https://www.youtube.com/watch?v=Hc1ujlWlA0c">Panels, Display Suite, and Context - oh my! What to use when, why, and how</a></li>
</ul></div>
            
        </div>

        <footer class="col-md-12">
            <hr>
            
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
